


<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>


<div class="container">
  <%- include('../partials/flashMessage.ejs') -%>

    <div class="row mt-4">
        <div class="col-md-3">

            
        </div>

        <div class="col-md-9">

          

  <form action="/shopAdmin/update" method="post" enctype="multipart/form-data">
    <div class="form-group mt-4">
      <label for="">Product Name</label>
      <input type="text" class="form-control" id="ProName"  name="ProName" placeholder="" value="<%= product.title %>">
    </div>

    <input type="hidden" name="id" value="<%= product.id%>">


    <div class="form-group">
        <label for="" >Product Description</label>
        <textarea class="form-control" id="ProDes" name="ProDes" rows="3" ><%= product.description %></textarea>
      </div>

      
      <div class="form-group">
        <label for="">Product Manufacturer</label>
        <select multiple class="form-control" id="ProManu" name="ProManu">
            <% if (product.manufacturer == "ASUS") {%>
          <option selected>ASUS</option>
          <% } else {%> 
            <option >ASUS</option>
            <% } %>
    
            <% if (product.manufacturer == "MSI") {%>
                <option selected>MSI</option>
                <% } else {%> 
                    <option >MSI</option>
                    <% } %>
    
                    <% if (product.manufacturer == "RAZER") {%>
                <option selected>RAZER</option>
                <% } else {%> 
                    <option >RAZER</option>
                    <% } %>
        </select>
      </div>    

    <div class="form-group">
        <label for="exampleFormControlInput1">Product Price</label>
        <input type="number" class="form-control" id="ProPrice" name="ProPrice" placeholder="" value="<%= product.price%>">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Available Stock</label>
        <input type="number" class="form-control" id="ProAvStk" name="ProAvStk" placeholder="" value="<%= product.available_stock %>">
    </div>



   

      <div class="form-group">
        <label for="image">Upload File 1:</label>
        <input type="file" name="image" id="image" required class="form-control" value="<%= product.proImg %>">
      </div>

    <div class="mt-2 form-group" >
  
    
  <button type="submit" class=" buttonEdit btn-l-r btn">Edit</button>
</div>
  </form>

    </div> </div>

<%- include('../partials/footer.ejs') -%>   