
    
<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>
<%- include('../partials/flashMessage.ejs') -%>



ASUS


<div class="container">	
  <div class="os-phrases" id="os-phrases">
    <h2>ASUS1</h2>
    <h2>ASUS2</h2>
    <h2>ASUS3</h2>
    <h2>ASUS4</h2>

    <h2>ASUS</h2>
  
  </div>
</div><!-- /container -->


<div class="img-container" data-slideshow>
  
  <img src="/imgs/asus1.jpg">

  <img src="/imgs/asus2.jpg">
  <img src="/imgs/asus3.jpg">
 <!--<img src="https://www.wallpapertip.com/wmimgs/29-294933_asus-rtx-2070-super.png">  --> 
  <img src="/imgs/asus4.jpg">
  <img src="/imgs/asus5.jpg">
  <img src="/imgs/asus6.jpg">
  </div>

  <div class="ledbodyC">
    <div class="boxC">

    </div>
  </div>

  <img src="/css/asus.png"  height="150px" width="320px" class="companyLogo">
  <p style = "font-family:courier,arial,helvetica;" class="AsusCompanyInfo">
    Take your creativity and productivity to the next level with a various range of Asus laptops.
     Asus laptops are perfect for gamers, students, people working from home, and anyone who needs real power.
     Asus laptops also include models with a touchscreen to give you even more flexibility and great value.</p>

  <div id="wrapper">


    
      <div id="checkout">
          CHECKOUT
      </div>
          <div id="cart">
              <span class="empty"></span>       
          </div>   
          <img id="cartIcon" src="http://www.seoulstore.in/demo/images/static/shopping-cart.png"  height="50px" >

      
          <div class="container">
              <div class="row py-0 mt-5" > 
              <div class="col md-1">
              </div>
          </div>
          
          <div id="grid">


          <div class="row pt-5"> 
            <% products.forEach((product)=>{%> 

                  <div class="col-sm-1 col-md-4">

                <div class="product">
                  <div class="info-large">       
                  </div>
                  <div class="make3D">
                      <div class="product-front">
                          <div class="shadow"></div>
                          <img src="<%= '/imgs/' + product.proImg%>" alt="" />
                          <div class="image_overlay"></div>
                          <div class="add_to_cart">Add to cart</div>
                          <div class="view_gallery">View gallery</div>                
                          <div class="stats">        	
                              <div class="stats-container">
                                  <span class="product_price"><%= product.price %> $</span>
                                  <span class="product_name"><%= product.title %></span>    
                                  <p><%= product.description %></p>                                            
                                  
                                  <div class="product-options">
                                  <strong>Available Stock</strong>
                                  <span><%= product.available_stock %></span>
                                  
                              </div>                       
                              </div>                         
                          </div>
                      </div>
                      
                      <div class="product-back">
                          <div class="shadow"></div>
                          <div class="carousel">
                              <ul class="carousel-container">
                                  <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1.jpg" alt="" /></li>
                                  <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2.jpg" alt="" /></li>
                                  <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/3.jpg" alt="" /></li>
                              </ul>
                              <div class="arrows-perspective">
                                  <div class="carouselPrev">
                                      <div class="y"></div>
                                      <div class="x"></div>
                                  </div>
                                  <div class="carouselNext">
                                      <div class="y"></div>
                                      <div class="x"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="flip-back">
                              <div class="cy"></div>
                              <div class="cx"></div>
                          </div>
                      </div>	  
                  </div>	
              </div>
              
          </div>    
              <%})%>
      </div>
    
   

  
<%- include('../partials/footer.ejs') -%>