
    
<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>
<%- include('../partials/flashMessage.ejs') -%>


<%- include('../partials/flashMessage.ejs') -%>



<div class="container">	
  <div class="os-phrases" id="os-phrases">
    <h2>Sometimes it's better to</h2>
    <h2>Smooth and sharp display</h2>
    <h2>Powered for performance</h2>
    <h2>Power your dreams with MSI</h2>

    <h2>MSI</h2>
  
  </div>
</div><!-- /container -->


<div class="img-container" data-slideshow>
  
  <img src="https://bigwigpc.com/wp-content/uploads/2021/03/nv-gtx-1650-maxq.jpg">

  <img src="https://storage-asset.msi.com/global/picture/features/VGA/GTX1660Ti/Gaming/1660-Ti-Gaming-KV.jpg">
  <img src="https://slickdeals.net/blog/wp-content/uploads/2020/02/20-hero-0214-MSI-GF63-THIN-3.jpg">
 <!--<img src="https://www.wallpapertip.com/wmimgs/29-294933_asus-rtx-2070-super.png">  --> 
  <img src="https://storage-asset.msi.com/global/picture/image/feature/mb/Z270/B250I/msi-b250i_h270i_gaming_pro_ac-memory-hero.jpg">
  <img src="https://i2.wp.com/www.tech-critter.com/wp-content/uploads/2021/02/GE76-Raider-Scenario-Photos-11.jpg?ssl=1">
  <img src="https://virtualcustoms.net/attachment.php?attachmentid=84664&stc=1&d=1573712575">
  </div>

  <div class="ledbodyC">
    <div class="boxC">

    </div>
  </div>

  <img src="https://1000logos.net/wp-content/uploads/2018/10/MSI-Logo-2009.png" height="220px" width="320px" class="companyLogo">
  <p style = "font-family:courier,arial,helvetica;" class="AsusCompanyInfo">
    MSI Gaming <del style = "font-family:courier,arial,helvetica;">laptops</del> Monsters offer you an unrivaled experience when it comes to PC gaming.
Utilizing the latest processors and graphics, you’ll have over the top performance to take your game to the next level.
With MSI’s exclusive technologies like our renowned cooling system, Cooler Boost, and all-inclusive Dragon Center software,
you’ll have all the tools you need to conquer your enemies.</p>
  

        <img id="cartIcon" src="http://www.seoulstore.in/demo/images/static/shopping-cart.png" top="-500px" height="50px" >
        <div id="wrapper">
  
            <div class="cart-icon-bottom">
            </div>
            <div id="checkout">
                CHECKOUT
            </div>
                <div id="cart">
                    <span class="empty"></span>       
                </div>   
        
            
                <div class="container">
                    <div class="row py-0 mt-5" > 
                    <div class="col md-1">
                    </div>
                </div>
                
                <div id="grid">


                <div class="row pt-5"> 
                    <% products.forEach((product)=>{%> 

                        <div class="col-sm-1 col-md-4">

                      <div class="product">
                        <div class="info-large">       
                        </div>
                        <div class="make3D">
                            <div class="product-front">
                                <div class="shadow"></div>
                                <img src="<%= '/imgs/' + product.proImg%>" alt=""/>
                                <div class="image_overlay"></div>
                                <div class="add_to_cart">Add to cart</div>
                                <div class="view_gallery">View gallery</div>                
                                <div class="stats">        	
                                    <div class="stats-container">
                                        <span class="product_price">$39</span>
                                        <span class="product_name"><%= product.title %></span>    
                                        <p><%= product.description %></p>                                            
                                        
                                        <div class="product-options">
                                        <strong>available_stock</strong>
                                        <span><%= product.available_stock %></span>
                                        
                                    </div>                       
                                    </div>                         
                                </div>
                            </div>
                            
                            <div class="product-back">
                                <div class="shadow"></div>
                                <div class="carousel">
                                    <ul class="carousel-container">
                                        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1.jpg" alt="" /></li>
                                        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2.jpg" alt="" /></li>
                                        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/3.jpg" alt="" /></li>
                                    </ul>
                                    <div class="arrows-perspective">
                                        <div class="carouselPrev">
                                            <div class="y"></div>
                                            <div class="x"></div>
                                        </div>
                                        <div class="carouselNext">
                                            <div class="y"></div>
                                            <div class="x"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-back">
                                    <div class="cy"></div>
                                    <div class="cx"></div>
                                </div>
                            </div>	  
                        </div>	
                    </div>
                    
                </div>    
                    <%})%>
            </div>
 

         
       
       
   
<%- include('../partials/footer.ejs') -%>