

    
<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <img src="imgs/shop.png" height="150px" width="150px">

                <div class="card" style="width: 33rem;">
                    
                    <div class="card-body text-dark">
                      <h5 class="card-title "><%= product.title %></h5>
                      <p class="card-text"><%= product.description %></p>
                      <p><%= product.location %></p>
                     

                      <% if ((user) && (user.id == event.user_id)) {%>
                      <a href="<%= '/events/edit/' + event.id%>" class="btn btn-primary">Edit</a>
                      <button class="btn btn-danger" onclick="deleteEvent()" id="deleteBtn" data-id="<%= event.id%>">Delete</button>
                    </div>
                    <% }%>


    </div>
</div>
</div>
</div>

<%- include('../partials/footer.ejs') -%>